.container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.InfoHeader {
    text-align: center;
    padding: 0%;
}

.mapDiv{
    width: 50%;
    visibility: visible;
}

.about_text {
    width: 50%;
    color: #36369E;
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    padding-left: 30px;
    text-align: center;
}