.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.icon {
    padding: 25px;
    color: #36369E;
}


.social {
    text-align: center;
    font-size: small;
    color:#36369E;
}